<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="img/pw1.jpg"
</head>
<body>
    <div class="main-content">
        {{>header}}    
    </div>  
    <img class ="portrait" src="/img/sacred heart-2.jpg"> 
    
    {{>footer}}
</body>
</html>