body {
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex-grow: 1;
}
footer {
  color: #888888;
  border-top: 1px solid #eeee;
  margin-top: 16px;
  padding: 16px 0px;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
  font-size: 32px;
}
.portrait {
  width: 335px;
  margin: 0px 56px;
}
